<p><b>Добрий день <%= @user.email %>!</b></p>

<p>Ви щойно здійснили бронювання в <%= @accommodation.name %></p>

<p>Деталі бронювання <b>#<%= @booking.id %></b>:</p>
<div>
  <table style='margin: 5px'>
    <tr><td>Кімната</td><td>#<i><%= @booking.room_id %></i></td></tr>
    <tr><td>Дата заїзду</td> <td><i><%= @booking.check_in %></i></td></tr>
    <tr><td>Дата виїзду</td> <td><i><%= @booking.check_out %></i></td></tr>
    <tr><td>Кількість гостей</td> <td><i><%= @booking.number_of_peoples %></i></td></tr>
    <tr><td>Прізвище ім'я на кого здійснене бронювання</td> <td><i><%= @booking.full_name %></i></td></tr>
    <tr><td>Телефон головного гостя</td> <td><i><%= @booking.phone %></i></td></tr>
    <tr><td>Ваші особливі побажання</td> <td><i><%= @booking.note %></i></td></tr>
  </table>
</div>

Власники помешкання найближчим часом зв'яжуться з вами на вказаний при реєстрації e-mail чи вказаний при бронюванні телефон!

<p>З повагою, команда "Черкаський туристичний портал"</p>
