<%= render partial: '/layouts/header_to_user' %>
<p>Організатор туру <b><%= @tour.title %></b> скасував Ваше бронювання</p>

<p>Деталі скасованого бронювання <b>#<%= @appointment.id %></b>:</p>

<%= render partial: 'appointment_mailer/appointment_details_tour' %>
<%= render partial: 'appointment_mailer/appointment_details_tourist' %>

<p>Якщо організатор туру не зв'язувався з Вами стосовно причин скасування бронювання, Ви можете самостійно звернутися до нього
  за вказаними вище контактами за роз'ясненням причин (можливо це було зроблено помилково, і власник відновить Ваше
  бронювання), або написати відгук на нашому ресурсі</p>

<%= render partial: '/layouts/regards' %>
