<%= render partial: '/layouts/header_to_user' %>
<p><b>Ваше бронювання змінено!</b></p>

<p>Деталі бронювання <b>#<%= @appointment.id %></b>:</p>

<%= render partial: 'appointment_mailer/appointment_details_tour' %>
<%= render partial: 'appointment_mailer/appointment_details_tourist' %>

<p>Зверніть увагу, якщо Ви змінювали кількість учасників туру, дочекайтеся підтвердження доступності від
  організатора туру </p>

<%= render partial: '/layouts/regards' %>
