<%= render partial: '/layouts/header_to_user' %>
<p>Організатор туру <b><%= @tour.title %></b> щойно підтвердив Ваше бронювання</p>

<p>Нагадуємо деталі бронювання <b>#<%= @appointment.id %></b>:</p>

<%= render partial: 'appointment_mailer/appointment_details_tour' %>
<%= render partial: 'appointment_mailer/appointment_details_tourist' %>

<%= render partial: '/layouts/regards' %>
