<%= render partial: '/booking_mailer/booking_header_tourist' %>
<p>Ви щойно здійснили бронювання туру <b><%= @tour.title %></b></p>

<p>Деталі бронювання <b>#<%= @appointment.id %></b>:</p>

<%= render partial: 'appointment_mailer/appointment_details_tour' %>
<%= render partial: 'appointment_mailer/appointment_details_tourist' %>

Організатори туру найближчим часом зв'яжуться з вами на вказаний при реєстрації e-mail чи вказаний при бронюванні телефон!

<p>З повагою, команда <a href='https://tour-project-frontend.vercel.app/'>"Черкаський туристичний портал"</a></p>
