<%= render partial: 'appointment_mailer/appointment_header_tour' %>
<p>Користувач <b><%= @user.email %></b> щойно здійснив бронювання Вашого туру</p>

<p>Деталі бронювання <b>#<%= @appointment.id %></b>:</p>

<%= render partial: 'appointment_mailer/appointment_details_tour' %>

Будь ласка, схваліть чи відмініть це бронювання у своєму особистому кабінеті і повідомте користувача

<%= render partial: '/layouts/regards' %>
