<%= render partial: 'appointment_mailer/appointment_header_tour' %>
<p><b>Користувач <b><%= @user.email %></b> щойно скасував своє бронювання Вашого туру!</b></p>

<p>Деталі скасованого бронювання <b>#<%= @appointment.id %></b>:</p>

<%= render partial: 'appointment_mailer/appointment_details_tour' %>

<%= render partial: '/layouts/regards' %>
