<div>
  <table style='margin: 5px'>
    <tr><td>Контакти помешкання:</td> <td></td></tr>
    <tr><td>Адреса</td> <td><i><%= @geolocation.suite %>, <%= @geolocation.street %>, <%= @geolocation.locality %></i></td></tr>
    <tr><td>Телефон</td> <td><i><%= @accommodation.phone %></i></td></tr>
    <tr><td>Електронна пошта</td> <td><i><%= @accommodation.email %></i></td></tr>
  </table>
</div>
