<%= render partial: '/layouts/header_to_user' %>
<p><b>Ваше бронювання змінено!</b></p>

<p>Деталі бронювання <b>#<%= @booking.id %></b>:</p>

<%= render partial: 'booking_mailer/booking_details_accommodation' %>
<%= render partial: 'booking_mailer/booking_details_tourist' %>

<p>Зверніть увагу, якщо Ви змінювали дати бронювання чи кімнату, дочекайтеся підтвердження доступності від
  власника помешкання </p>

<%= render partial: '/layouts/regards' %>
