<%= render partial: 'booking_mailer/booking_header_accommodation' %>
<p>Користувач <b><%= @user.email %></b> щойно здійснив бронювання у Вашому помешканні</p>

<p>Деталі бронювання <b>#<%= @booking.id %></b>:</p>

<%= render partial: 'booking_mailer/booking_details_accommodation' %>

<p>Будь ласка, схваліть чи скасуйте це бронювання у своєму особистому кабінеті.
  В разі скасування бронювання повідомте користувача про причини</p>

<%= render partial: '/layouts/regards' %>
