<%= render partial: '/layouts/header_to_user' %>
<p>Ви щойно здійснили бронювання в <b><%= @accommodation.name %></b></p>

<p>Деталі бронювання <b>#<%= @booking.id %></b>:</p>

<%= render partial: 'booking_mailer/booking_details_accommodation' %>
<%= render partial: 'booking_mailer/booking_details_tourist' %>

<p>Власники помешкання найближчим часом зв'яжуться з вами на вказаний при реєстрації e-mail чи вказаний при
  бронюванні телефон!</p>

<%= render partial: '/layouts/regards' %>
