<%= render partial: '/layouts/header_to_user' %>
<p>Власник <b><%= @accommodation.name %> скасував Ваше бронювання</b></p>

<p>Деталі скасованого бронювання <b>#<%= @booking.id %></b>:</p>

<%= render partial: 'booking_mailer/booking_details_accommodation' %>
<%= render partial: 'booking_mailer/booking_details_tourist' %>

<p>Якщо власник не зв'язувався з Вами стосовно причин скасування бронювання, Ви можете самостійно звернутися до нього
за вказаними вище контактами за роз'ясненням причин (можливо це було зроблено помилково, і власник відновить Ваше
бронювання), або написати відгук на нашому ресурсі</p>

<%= render partial: '/layouts/regards' %>
