<%= render partial: '/layouts/header_to_user' %>
<p>Власник <b><%= @accommodation.name %> щойно підтвердив Ваше бронювання</b></p>

<p>Нагадуємо деталі бронювання <b>#<%= @booking.id %></b>:</p>

<%= render partial: 'booking_mailer/booking_details_accommodation' %>
<%= render partial: 'booking_mailer/booking_details_tourist' %>

<%= render partial: '/layouts/regards' %>
