<div>
  <table>
    <tr><td>Контакти закладу:</td> <td></td></tr>
    <tr><td>Адреса</td> <td><i><%= @geolocation.suite %>, <%= @geolocation.street %>, <%= @geolocation.locality %></i></td></tr>
    <tr><td>Телефон</td> <td><i><%= @catering.phone %></i></td></tr>
    <tr><td>Електронна пошта</td> <td><i><%= @catering.email %></i></td></tr>
  </table>
</div>
<br>
