<%= render partial: 'reservation_mailer/reservation_header_catering' %>
<p>Користувач <b><%= @user.email %></b> щойно здійснив резервування у Вашому закладі</p>

<p>Деталі резервування <b>#<%= @reservation.id %></b>:</p>

<%= render partial: 'reservation_mailer/reservation_details_catering' %>

Будь ласка, схваліть чи відмініть це резервування у своєму особистому кабінеті і повідомте користувача

<%= render partial: '/layouts/regards' %>
