<%= render partial: '/layouts/header_to_user' %>
<p><b>Ваше резервування змінено!</b></p>

<p>Деталі резервування <b>#<%= @reservation.id %></b>:</p>

<%= render partial: 'reservation_mailer/reservation_details_catering' %>
<%= render partial: 'reservation_mailer/reservation_details_tourist' %>

<p>Зверніть увагу, якщо Ви змінювали кількість гостей або час резервації, дочекайтеся підтвердження доступності від
  власника закладу </p>

<%= render partial: '/layouts/regards' %>
