<%= render partial: '/layouts/header_to_user' %>
<p>Ви щойно здійснили резервування в <b><%= @catering.name %></b></p>

<p>Деталі резервування <b>#<%= @reservation.id %></b>:</p>

<%= render partial: 'reservation_mailer/reservation_details_catering' %>
<%= render partial: 'reservation_mailer/reservation_details_tourist' %>

Власники закладу найближчим часом зв'яжуться з вами на вказаний при реєстрації e-mail чи вказаний при бронюванні телефон!

<%= render partial: '/layouts/regards' %>
