<%= render partial: '/layouts/header_to_user' %>
<p>Власник <b><%= @catering.name %></b> скасував Ваше резервування</p>

<p>Деталі скасованого резервування <b>#<%= @reservation.id %></b>:</p>

<%= render partial: 'reservation_mailer/reservation_details_catering' %>
<%= render partial: 'reservation_mailer/reservation_details_tourist' %>

<p>Якщо власник закладу не зв'язувався з Вами стосовно причин скасування резервування, Ви можете самостійно звернутися до нього
  за вказаними вище контактами за роз'ясненням причин (можливо це було зроблено помилково, і власник відновить Ваше
  резервування), або написати відгук на нашому ресурсі</p>

<%= render partial: '/layouts/regards' %>
