<%= render partial: '/layouts/header_to_user' %>
<p>Власник <b><%= @catering.name %></b> щойно підтвердив Ваше резервування</p>

<p>Нагадуємо деталі резервування <b>#<%= @reservation.id %></b>:</p>

<%= render partial: 'reservation_mailer/reservation_details_catering' %>
<%= render partial: 'reservation_mailer/reservation_details_tourist' %>

<%= render partial: '/layouts/regards' %>
