<%= render partial: '/booking_mailer/booking_header_tourist' %>
<p>Власник <b><%= @catering.name %></b> щойно підтвердив Ваше резервування</p>

<p>Нагадуємо деталі резервування <b>#<%= @reservation.id %></b>:</p>

<%= render partial: 'reservation_mailer/reservation_details_catering' %>
<%= render partial: 'reservation_mailer/reservation_details_tourist' %>

<p>З повагою, команда <a href='https://tour-project-frontend.vercel.app/'>"Черкаський туристичний портал"</a></p>
